
.left {
	text-decoration: none;
	display: inline-block;
    color: gold;
    text-align: right;
	padding: 10px 14px;
    min-width: 180px;
    background-color: rgb(21, 35, 161);
}

.rigt {
	text-decoration: none;
	display: inline-block;
    padding: 10px 13px;
    background-color:rgb(185, 24, 78);
    min-width: 212px;
    color: white;
}
.lefta{
    
    display: inline-block;
    padding: 10px 13px;
    background-color:rgb(15, 221, 211);
    min-width: 420px;
    color: black;;
    text-align: center;
}