<br><br><br>
<span class="lefta">Our Team Details </span>
<br><br><br>
<span class="left">Name </span><div class="rigt">Kranthi Kumar</div>
<br>
<span class="left">gmail </span><div class="rigt"> pallelakranthikumar@gmail.com</div>
<br>
<span class="left">Roll.number </span><div class="rigt"> 190050077</div>
<br>
<span class="left">Name </span><div class="rigt">Bharani Kumar</div>
<br>
<span class="left">gmail </span><div class="rigt"> bkpatibandla@gmail.com</div>
<br>
<span class="left">Roll.number </span><div class="rigt"> 190050079</div>
